[user]
	email = deekovalev@gmail.com
	name = Dmitry
[pull]
	ff = only
[init]
	defaultBranch = master
[format]
	pretty = format:%Cred%h %Cgreen(%ar)%<|(26)%Creset %<(30,trunc)%s %C(yellow)%d%Creset
[core]
	excludesFile = ~/.gitignore
